/env
/venv
/debug_output
/DataSet
__pycache__/
/src/floor_segmentation/models/*.pt
/src/segmentation/models/*.pth
*.pt
models/hybrid_feature_cache/
__pycache__
*.py[cod]
*$py.class
*rar
*.pyc
*.pyo
models/*.pkl
models/*.npz
*.rar
*.zip
/kaggle
/docs
AGENTS.md
/CV/DataSet
*pth
*pt
/no
frontend/node_modules